body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.fab-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fab {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.fab:hover {
    background-color: gray;
    transform: scale(1.1);
}

.fab-icon {
    font-size: 32px;
}

.fab-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
    position: absolute;
    bottom: 80px;
    right: 0;
}

.fab-option {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.fab-option .heading {
    display: flex;
    background-color: #fff;
    padding: 4px 4px;
    margin: 5px 10px;
    border-radius: 4px;
    height: 1.5rem;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.fab-option .icon {
    display: flex;
    background-color: #fff;
    padding: 4px 4px;
    margin-inline-start: 10px;
    margin-top: 8px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.fab-new-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 8px 4px;
    width: 200px;
    border-radius: 8px;
}

.fab-option-icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: fixed;
    bottom: 30px;
    right: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fab-option-icons .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fab-new-content .header p {
    padding: 0px 20px;
    text-align: center;
    font-size: smaller;
    font-weight: 500;
    color: rgb(55, 55, 55);
}

.fab-new-content .header hr {
    margin-bottom: 14px;
    width: 100%;
}

.fab-new-content .content {
    padding: 0px 3px;
    margin-bottom: 8px;
}

.fab-new-content .content .select label {
    font-size: small;
    color: rgb(55, 55, 55);
    font-weight: bold;
}

.fab-new-content .content .textbox-label {
    font-size: small;
    color: rgb(55, 55, 55);
    font-weight: bold;
}

.fab-new-content .content select {
    margin-top: 8px;
    display: flex;
    background-color: rgb(222, 218, 218);
    border-radius: 4px;
    padding: 4px 4px;
    width: 100%;
    margin-bottom: 10px;
}

.textbox-wrapper {
    display: flex;
    align-items: end;
    background-color: rgb(222, 218, 218);
    border-radius: 4px;
    padding: 4px;
    width: 96%;
    margin-bottom: 10px;
    border: 1px solid black;
    margin-top: 8px;
}

.textbox_que {
    display: flex;
    align-items: end;
    background-color: rgb(222, 218, 218);
    border-radius: 4px;
    padding: 4px 4px;
    width: 96%;
    margin-bottom: 10px;
    border: 1px solid black;
    margin-top: 8px;
}

.textbox_que input[type="text"] {
    display: flex;
    background-color: rgb(222, 218, 218);
    border-radius: 4px;
    padding: 3px 6px;
    padding-bottom: 45px !important;
    width: 94%;
    margin-bottom: 10px;
    flex-grow: 1;
    border: none;
}

.fab-new-content .content .textbox {
    display: flex;
    background-color: rgb(222, 218, 218);
    border-radius: 4px;
    padding: 3px 6px;
    padding-bottom: 64px;
    width: 94%;
    margin-bottom: 10px;
    flex-grow: 1;
    border: none;
}

.fab-new-content .content .textbox:focus {
    outline: none;
}

.fab-new-content .content .attach {
    background-color: rgb(190, 190, 190);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 13px;
    font-size: small;
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 8px;
    margin-bottom: 4px;
}

.fab-new-content .btn {
    padding: 0px 3px;
    display: flex;
    justify-content: end;
}

.fab-new-content .btn .submit {
    margin-top: 4px;
    display: flex;
    background-color: rgb(222, 218, 218);
    border-radius: 8px;
    padding: 6px 20px;
    cursor: pointer;
}

.fab-new-content .header span {
    font-weight: bold;
}

.fab-new-content .content .checkbox {
    font-size: small;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.fab-new-content .content .checkbox .anonymous {
    width: 12px;
    height: 11px;
    cursor: pointer;
}

.fab-new-content .content .checkbox label {
    font-size: smaller;
}

.fab-new-content .content .profile {
    padding: 0px 3px;
}

.fab-new-content .content .profile label {
    font-size: small;
    color: rgb(55, 55, 55);
    font-weight: bold;
}

.fab-new-content .content .profile input {
    margin-top: 8px;
    display: flex;
    border-radius: 4px;
    padding: 4px 8px;
    width: 93%;
    margin-bottom: 10px;
    border: 1px solid black;
}

#query input {
    background-color: rgb(222, 218, 218);
}

strong {
    color: red;
}

.thank-you-message {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 80px;
    right: 0px;
    background-color: white;
    padding: 0px 6px;
    width: 250px;
    border-radius: 6px;
    z-index: 10;
    animation: fadeOut 3s forwards;
}

.thank-you-message::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 85%;
    transform: translateX(-10%);
    border-width: 8px;
    border-style: solid;
    border-color: white transparent transparent transparent;
}

.thank-you-message p {
    font-size: smaller;
    color: rgb(55, 55, 55);
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
}

.file-previews {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 10px;
}

.file-preview {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    position: relative;
}

.file-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.attach:disabled {
    opacity: 0.5;
    color: black;
    cursor: not-allowed !important;
}

/* Media queries for smaller screens */
@media (max-width: 480px) {
    .fab-new-content {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 300px; 
        border-radius: 12px;
        padding: 16px;
        left: 0;
        right: 0;
    }

    .fab-container {
        bottom: calc(100% - 420px); 
        right: 20px;
    }

    .fab-options {
        top: calc(100% - 340px); 
        right: 0px;
    }

    .fab-option .heading, .fab-option .icon {
        margin: 10px 0;
    }
    
    .fab-new-content .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .fab-new-content .header hr {
        width: 100%;
        margin-bottom: 1px;
    }

    .fab-option-icons {
        bottom: calc(100% - 110px); 
        right:60px;
        justify-content: center;
        align-items: center;
    }

    .fab {
        margin-bottom: 10px;
    }

    .fab-new-content .content {
        overflow-y: auto; 
        padding: 0 10px; 
        margin-top: 10px; 
        height: calc(100% - 60px); 
    }

    .fab-new-content .content .textbox {
        padding-bottom: 80px; 
    }

    .fab-new-content .header p {
        margin: 0rem 3rem;
        text-align: center;
        font-size: small;
        font-weight: 500;
        color: rgb(55, 55, 55);
    }
    
    .fab-new-content .header hr {
        margin-bottom: 0px;
        width: 100%;
    }
    
    .fab-new-content .content {
        padding: 0px 3px;
        margin-bottom: 4px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    
    .fab-new-content .content .select label {
        font-size: x-small;
        color: rgb(55, 55, 55);
        font-weight: bold;
    }
    
    .fab-new-content .content .textbox-label {
        font-size: x-small;
        color: rgb(55, 55, 55);
        font-weight: bold;
    }
    
    .fab-new-content .content select {
        margin-top: 8px;
        display: flex;
        background-color: rgb(222, 218, 218);
        border-radius: 4px;
        padding: 2px 2px;
        width: 100%;
        margin-bottom: 6px;
        font-size: x-small;
    }
    
    .textbox-wrapper {
        display: flex;
        align-items: end;
        background-color: rgb(222, 218, 218);
        border-radius: 4px;
        padding: 4px;
        width: 86%;
        margin-bottom: 6px;
        border: 1px solid black;
        margin-top: 8px;
    }
    
    .textbox_que {
        display: flex;
        align-items: end;
        background-color: rgb(222, 218, 218);
        border-radius: 4px;
        padding: 4px 4px;
        width: 86%;
        margin-bottom: 6px;
        border: 1px solid black;
        margin-top: 8px;
    }
    
    .textbox_que input[type="text"] {
        display: flex;
        background-color: rgb(222, 218, 218);
        border-radius: 4px;
        padding: 3px 6px;
        padding-bottom: 25px !important;
        width: 86%;
        margin-bottom: 6px;
        flex-grow: 1;
        border: none;
    }
    
    .fab-new-content .content .textbox {
        display: flex;
        background-color: rgb(222, 218, 218);
        border-radius: 4px;
        padding: 3px 6px;
        padding-bottom: 44px;
        width: 86%;
        margin-bottom: 10px;
        flex-grow: 1;
        border: none;
    }
    
    .fab-new-content .content .textbox:focus {
        outline: none;
    }
    
    .fab-new-content .content .attach {
        background-color: rgb(190, 190, 190);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 4px 6px;
        font-size: x-small;
        display: flex;
        align-items: center;
        position: absolute;
        margin-left: 8px;
        margin-bottom: 4px;
    }
    
    .fab-new-content .btn {
        padding: 0px 3px;
        display: flex;
        justify-content: end;
    }
    
    .fab-new-content .btn .submit {
        margin-top: 4px;
        display: flex;
        background-color: rgb(222, 218, 218);
        border-radius: 8px;
        padding: 6px 20px;
        cursor: pointer;
        font-size: x-small;
    }
    
    .fab-new-content .header span {
        font-weight: bold;
    }
    
    .fab-new-content .content .checkbox {
        font-size: small;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
    
    .fab-new-content .content .checkbox .anonymous {
        width: 12px;
        height: 11px;
        cursor: pointer;
    }
    
    .fab-new-content .content .checkbox label {
        font-size: smaller;
    }
    
    .fab-new-content .content .profile {
        padding: 0px 1px;
    }
    
    .fab-new-content .content .profile label {
        font-size: x-small;
        color: rgb(55, 55, 55);
        font-weight: bold;
    }
    
    .fab-new-content .content .profile input {
        margin-top: 4px;
        display: flex;
        border-radius: 4px;
        padding: 4px 6px;
        width: 86%;
        margin-bottom: 6px;
        border: 1px solid black;
        font-size: x-small;
    }
    
    #query input {
        background-color: rgb(222, 218, 218);
        
    }
}
